// These will not work if docs are file://local 
@css {
  @import url('///fonts.googleapis.com/css?family=Inconsolata');
  @import url('///fonts.googleapis.com/css?family=PT+Sans');
  @import url('///fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700');
}
