//for org-mode export
.tag
  background-color: $hl
  color: $magenta
  padding: 0 0.2em

.todo, .next, .done
  color: $bg
  background-color: $red
  padding: 0 0.2em

.TODO
  background-color: $cyan

.NEXT
  background-color: $blue

.ACTIVE
  foreground-color: $bg
  background-color: $green

.DONE
  background-color: $green

.WAITING
  foreground-color: $orange

.HOLD
  foreground-color: $magenta

.NOTE
  foreground-color: $magenta

.CANCELLED
  foreground-color: $green
