//for org-mode export
.tag
  background-color: $hl
  color: $magenta
  padding: 0 0.2em

.todo, .next, .done
  color: $bg
  background-color: $red
  padding: 0 0.2em

border-radius(n)
  -webkit-border-radius n
  -moz-border-radius n
  border-radius n
  
rounded()
  border-radius 0.2em

.tag 
  border-radius 0.35em

.TODO
  rounded()
  background-color: $cyan

.NEXT
  rounded()
  background-color: $blue

.ACTIVE
  rounded()
  background-color: $blue

.DONE
  rounded()
  background-color: $green

.WAITING
  rounded()
  background-color: $orange

.HOLD
  rounded()
  background-color: $magenta

.NOTE
  rounded()
  background-color: $magenta

.CANCELLED
  rounded()
  background-color: $green
