//for org-mode export
.tag
  background-color: $hl
  color: $magenta
  padding: 0 0.2em

.todo, .next, .done
  color: $bg
  background-color: $red
  padding: 0 0.2em

.TODO
  background-color: $cyan

.DONE
  background-color: $green

.NEXT
  background-color: $blue

