html
  background-color: $bg
  color: $fg
  margin: 1em

code
  background-color: $hl
  padding: 2px

a
  color: $yellow

a:visited
  color: $orange

a:hover
  color: $orange

h1
  color: $magenta

h2,h3,h4,h5,h6
  color: $green

pre
  background-color: $bg
  color: $fg
  border: 1pt solid $cyan
