//for org-mode export
.tag
  background-color: $hl
  color: $magenta
  padding: 0 0.2em

.todo, .next, .done
  color: $bg
  padding: 0 0.2em

.todo
  background-color: $blue

.done
  background-color: $green

.next
  color: $cyan

